---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import NeonButton from "../components/NeonButton.astro";
import DotBackground from "../components/DotBackground.astro";
---

<Layout
	title="Porfolio Esteban Barrón - Desarrollador y Programador Web"
	description="Contrata a Esteban y descubre cómo puede llevar tu proyecto al siguiente nivel. Desarrollador web, programador y experto en tecnología."
>
	<main>
		<section class="min-h-dvh flex flex-col md:flex-row transition duration-300">
			<div class="md:w-6/10 mt-24 z-20 md:mt-0 flex items-center justify-center md:justify-normal gap-6 md:gap-14 2xl:gap-20 md:pl-24 2xl:pl-32">
				<Image
					width="200"
					height="200"
					src="/me.webp"
					alt="Esteban Andrés"
					class="object-cover w-36 md:w-64 2xl:w-96 p-1 rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-slate-500/5 ring-1 ring-black/70 dark:ring-indigo-200/20 shadow shadow-indigo-300 transition duration-300 animate-fade-up animate-delay-100"
				/>
				<div class="flex flex-col justify-center">
					<h1 class="text-xl md:text-5xl 2xl:text-6xl flex flex-col text-indigo-100 dark:text-indigo-50 animate-fade-up animate-delay-200">
						Hola soy <strong class="text-indigo-800 dark:text-indigo-400 transition duration-300 animate-fade-up animate-delay-100">Esteban Barrón</strong>
					</h1>
					<p class="text-xs md:text-xl 2xl:text-2xl mt-0.5 md:mt-2 text-indigo-100 dark:text-indigo-50 animate-fade-up animate-delay-400">Desarrollador Web</p>
					<NeonButton
						class="flex items-center transition duration-300 md:hover:scale-105 mt-2 md:mt-6 animate-fade-up animate-delay-500"
					>
						Disponible para trabajar
					</NeonButton>
				</div>
			</div>
			<div
				class="bg-[url('/black-hole-bg.gif')] [mask-image:linear-gradient(to_top,black,transparent)] dark:[mask-image:linear-gradient(to_top,black_80%,transparent)] md:[mask-image:linear-gradient(to_left,black,transparent)] md:dark:[mask-image:linear-gradient(to_left,black_60%,transparent)] bg-cover bg-center bg-no-repeat min-w-full md:min-w-4/10 min-h-[70dvh] absolute bottom-0 right-0 md:relative"
			>
			</div>
		</section>
		<DotBackground />
	</main>
</Layout>
