<a
  href="https://www.linkedin.com/in/ebarronteodoro/"
  target="_blank"
  rel="noopener"
  {...Astro.props}
>
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] z-0 animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#969eff_0%,#2a2d59_50%,#969eff_100%)]"
    ></span>
    <span
      class="inline-flex items-center justify-center w-full px-3 z-10 py-1 font-light text-indigo-800 bg-indigo-200 rounded-full cursor-pointer dark:bg-neutral-900 dark:text-white/80 transition duration-300 hover:backdrop-blur-3xl whitespace-nowrap text-[9px] md:text-sm 2xl:text-lg"
    >
      <slot />
    </span>
  </span>
</a>
